<section>
    <h1>Info del sistema</h1>
    <ul>
        <li>Argumentos de Entrada: {{arguments}}</li>
        <li>Path de ejecucion: {{path}}</li>
        <li>Nombre de la Plataforma (sistema operativo): {{platformName}}</li>
        <li>Process ID: {{processID}}</li>
        <li>Version de Node.JS: {{nodeVersion}}</li>
        <li>Carpeta del proyecto: {{proyectFolder}}</li>
        <li>Memoria Total Reservada (rss): {{rss}}</li>
        <li>Cantidad de procesadores: {{cpus}}</li>
    </ul>
</section>